extends layout

block content
  div(class="w3-row")
    div(class="w3-col s4")
      div(class="w3-card-4")
        header(class="w3-container w3-blue")
          h1 Cursos/Turmas
        div(class="w3-container")
          ul(class="w3-ul w3-border")
            li 
              a(href="/cursos") Listar
            li Criar novo
            li Remover
        footer(class="w3-container w3-blue")
          h5 Dezembro de 2017
    div(class="w3-col s4")
      div(class="w3-card-4")
        header(class="w3-container w3-blue")
          h1 Alunos
        div(class="w3-container")
          ul(class="w3-ul w3-border")
            li Listar
            li Criar novo
            li Remover
        footer(class="w3-container w3-blue")
          h5 Registo de Avaliações
    div(class="w3-col s4")
      div(class="w3-card-4")
        header(class="w3-container w3-blue")
          h1 Notas
        div(class="w3-container")
          ul(class="w3-ul w3-border")
            li Listar
            li Criar nova
            li Remover
        footer(class="w3-container w3-blue")
          h5 por JCR